<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<form method="get" id="yaForm" accept-charset="UTF-8" action="https://ya.iris-home.net/yacysearch.html" target="_blank">
    <div>
        <input type="text" name="search" id="yaInput" placeholder="Search the site with Yacy...">
        <input type="hidden" name="verify" value="cacheonly" />
        <input type="hidden" name="maximumRecords" value="10" />
        <input type="hidden" name="meanCount" value="5" />
        <input type="hidden" name="resource" value="local" />
        <input type="hidden" name="urlmaskfilter" value=".*" />
        <input type="hidden" name="prefermaskfilter" value="" />
        <input type="hidden" name="display" value="2" />
        <input type="hidden" name="nav" value="all" />
        <button type="submit" class="glass-button"><i class="fas fa-search"></i></button>
    </div>
    <p style="clear:both;"></p>
</form>

<script>
document.getElementById("yaForm").addEventListener("submit", function(event) {
  event.preventDefault(); // Prevent form submission

  var inputValue = document.getElementById("yaInput").value;
  var appendString = " site:iris2020.net";

  // Append the string to the input value
  var newValue = inputValue + appendString;

  // Update the input value
  document.getElementById("yaInput").value = newValue;

  // Submit the form
  this.submit();
});
</script>